# Ignore all files in the data folder
data/*

# Do not ignore the data folder itself
!data/

# Allow .gitkeep in the data folder
!data/.gitkeep

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode cache
__pycache__/

